@model WebApp.ViewModels.VMPoll

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tekst" class="control-label"></label>
                <input asp-for="Tekst" class="form-control" />
                <span asp-validation-for="Tekst" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PollDate" class="control-label"></label>
                <input asp-for="PollDate" class="form-control" type="date" />
                <span asp-validation-for="PollDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="KolegijId" class="control-label"></label>
                <select asp-for="KolegijId" asp-items="ViewBag.Kolegiji" class="form-control">
                    <option value="">Select Kolegij</option>
                </select>
                <span asp-validation-for="KolegijId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StudijId" class="control-label"></label>
                <select asp-for="StudijId" asp-items="ViewBag.Studiji" class="form-control">
                    <option value="">Select Studij</option>
                </select>
                <span asp-validation-for="StudijId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
