@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

@model dynamic
@{
    ViewData["Title"] = "PI Student Polling Platform - Welcome";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Student Polling Platform</h1>
        <p class="lead">
            Find answers to your questions through this polling platform, create polls for class votes, surveys, or opinion gathering, with real-time data visualization.
        </p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="Login" role="button">See more</a>
    </div>
</div>